# Dependencies
node_modules
node_modules/
**/node_modules
**/node_modules/

# Environment
.env
.env.*
**/.env
**/.env.*

# Build
dist
dist/
**/dist
**/dist/
.turbo
.turbo/
**/.turbo
coverage
coverage/

# Demo Project
demo-test/
